deb http://deb.debian.org/debian/ {{ ansible_lsb['codename'] }} main contrib non-free
deb http://security.debian.org/ {{ ansible_lsb['codename'] }}-security main contrib
deb http://deb.debian.org/debian/ {{ ansible_lsb['codename'] }}-updates main contrib non-free